<!DOCTYPE html>
<html>

<head>
    <title>Liste des utilisateurs</title>
</head>

<body>
    <h1>Utilisateurs</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>